@import url(common.css);
@import url(header.css);
@font-face {
    font-family: 'SUIT-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
font-family: 'SUIT-ExtraLight';
}



/*___________________________________________contents01 */


/* text */
.health_tip_title{
    width:100%;
    height:100px;
    margin:0 auto;
    text-align: center;
    margin-top:50px;

}

.health_tip_title{
    line-height:50px;

}

.tit{
    text-align: center;
    font-size: 30px;
    color: #088ae7;
    margin-top: 50px;

}

.tit2{
    text-align: center;
    color: #5e5e5e;
    font-size: 20px;

}


/* tap */
#header{
    width:100%;
    height:500px;
    margin-top:100px;

}


#header dl{  /*1번째 배경이미지->나머지는 jquery에서 불러냄*/
	width:1100px;
	height:400px;
	margin:0 auto;
    background:url(../img/health-img01.jpg) no-repeat center top;
    overflow:hidden;
}


#header dl dt{  /*탭부분*/
	position:relative;
	width:75px;
	height:400px;
    float:left;
    box-sizing:border-box;
    cursor:pointer;
    padding-left:25px;
    opacity:0.8;
    background-color:#3d8eb5;
    /* border-right:1px solid rgba(2555,255,255,0.6); */


}
#header dl dt a{  
    position:absolute;
    top:30px;
    color:#fff;
    font-size:15px;
    padding-top:15px;
    font-weight:normal;
}
dt.selected a{  /*제목선택시->jquery에서 불러냄*/
	cursor:default;
	color:#3d8eb5;
    font-family: 'SUIT-Bold';

}


#header dl dd{   /*각 탭의 내용*/
	width:800px;
    height:500px;
	display:none;
    float:left;
    position:relative;
    overflow:auto;
    /*background:pink;*/
    
}
#header dl dd:first-of-type{display:block;}

.content{padding:30px;}
.content .title{
    font-size:25px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:25px;
    color:#fff;

}
.content .description {
    color:#fff;
    font-size:15px;
    font-family: 'SUIT-ExtraLight';
    line-height:40px;
    /* background-color: #3d8eb5; */
    height:200px;
}

.content .read-more a{color:white;}




/*___________________________________________contents02 */
#Season {
    width: 100%;
    height: 800px;
    position: relative;
    margin: 0 auto;

}


.health_tip_title_02{
    width:100%;
    height:100px;
    line-height:50px;
}

.tit_02{
    text-align: center;
    font-size: 30px;
    color: #088ae7;
    margin-top: 50px;

}

.tit2_02{
    text-align: center;
    color: #5e5e5e;
    font-size: 20px;

}


/* 갤러리 */
#Season .sub1 li {
    position: absolute;
 
    padding-left: 700px;

}

#Season .sub1 li iframe{
    width:500px;
}

#Season .sub1 img {
    /*메인이미지*/
    width: 503px;
    height: 379px;
    margin-top: 150px;
}

#Season .sub1 li {
    display: none;
}

#Season .sub2 li span{
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 50%;


}
/* #Season .sub1 li:first-child {display: block;} */

#Season .left_btn {
    /* 왼쪽버튼 */
    position: absolute;
    left:680px;
    top: 440px;
    z-index: 200;

}

#Season .right_btn {
    /* 오른쪽버튼 */
    position: absolute;
    left:1200px;
    top: 440px;
    z-index: 200;

}


.imgText li {
    /* text */
    display: none;
    position: absolute;
    left:1250px;
    bottom:180px;
 
}

.imgText li:first-child {
    display: block;
}

.imgText li p{
    font-size: 30px;
    color:#088ae7;
}

.imgText li{
    font-size:15px;
    color:#444444;
    font-weight: bold;
}

