@media screen and (max-width: 767px) {
	#media_box iframe {
		height:160px !important;
	}
}

.press_cont p.text {
	height:130px;
	overflow:hidden;
	margin-bottom:15px;
}
/**********************************************************************************
	GRID SYSTEM
**********************************************************************************/
    .grid_wrap{margin:0 -1% 0;}
    .grid_wrap > *{margin:0 1% 2%;float:left;}
    .grid_wrap:after{display:block;clear:both;content:'';}
    .m12-col-1{width:calc(8.333% - 2%);}
    .m12-col-2{width:calc(16.666% - 2%);}
    .m12-col-3{width:calc(25% - 2%);}
    .m12-col-4{width:calc(33.333% - 2%);}
    .m12-col-5{width:calc(41.665% - 2%);}
    .m12-col-6{width:calc(50% - 2%);}
    .m12-col-7{width:calc(58.331% - 2%);}
    .m12-col-8{width:calc(66.664% - 2%);}
    .m12-col-9{width:calc(74.997% - 2%);}
    .m12-col-10{width:calc(83.33% - 2%);}
    .m12-col-11{width:calc(91.663% - 2%);}
    .m12-col-12{width:calc(100% - 2%);}
    .m10-col-1{width:calc(10% - 2%);}
    .m10-col-2{width:calc(20% - 2%);}
    .m10-col-3{width:calc(30% - 2%);}
    .m10-col-4{width:calc(40% - 2%);}
    .m10-col-5{width:calc(50% - 2%);}
    .m10-col-6{width:calc(60% - 2%);}
    .m10-col-7{width:calc(70% - 2%);}
    .m10-col-8{width:calc(80% - 2%);}
    .m10-col-9{width:calc(90% - 2%);}
    .m10-col-10{width:calc(100% - 2%);}
    @media screen and (max-width:767px){
        .grid_wrap>*{width:calc(100% - 2%);}
    }

/* ionwater */
.ion_wrap img{max-width:100%;vertical-align:middle;}
.clear:after{display:block;clear:both;content:'';}
.ion_wrap section{background-repeat:no-repeat;}
.ion_wrap .bg-gray{background:#f9f9f9;}
.ion_wrap em{font-weight:700;}
.ion_wrap .tit{font-size:2rem;letter-spacing:-0.25px;color:#444;line-height:150%;}
.ion_wrap .tit-2{margin-bottom:1rem;font-size:2.5rem;letter-spacing:-0.25px;line-height:1.3;}
.ion_wrap .sub_tit{margin-bottom:10px;font-size:0.937rem;font-weight:700;text-transform:uppercase;letter-spacing:-0.25px;}
.ion_wrap .sub_tit2{margin-bottom:0.5rem;font-size:1.187rem;font-weight:700;letter-spacing:-0.25px;line-height:150%;}
.ion_wrap .txt{font-size:0.875rem;color:#888;letter-spacing:-0.25px;line-height:150%;}
.ion_wrap .desc{font-size:0.937rem;color:#888;letter-spacing:-0.25px;line-height:150%;}
.ion_wrap .color-2{color:#fff;}
.ion_wrap .font-l{font-weight:300;}
.ion_wrap .color{color:#009dd6;}
.ion_wrap .btn{display:inline-block;padding:17px 25px;font-size:0.875rem;font-weight:500;color:#00a7e3;background:#fff;border-radius:10px;}
.ion_wrap .btn:after{display:inline-block;margin-left:10px;vertical-align:middle;content:url(../images/ionwater/btn-ico.png);}
.ion_wrap .column_box{margin:0 -1%;font-size:0;}
.ion_wrap .column_box>div{display:inline-block;margin:0 1%;vertical-align:middle;font-size:1rem;}
.ion_wrap .txt_box{text-align:center;margin-bottom:55px;}
.ion_wrap .main_slg{opacity:0;transform:translateY(30px);transition:.5s linear;-webkit-transition:.5s linear;}
.ion_wrap .main_slg.on{opacity:1;transform:translateY(0);}
.ion_wrap .row-1{background-image:url(../images/ionwater/ion-bg.jpg);background-size:cover;}
.ion_wrap .row-1 .grid_wrap{padding-top:137px;}
.ion_wrap .row-1 .grid_wrap>div:first-child{float:right;padding-top:63px;}
.ion_wrap .row-1 .sub_tit{position:relative;}
.ion_wrap .row-1 .sub_tit:before{display:inline-block;width:0;opacity:0;max-width:61%;height:1px;background:#fff;opacity:0.54;content:'';position:absolute;left:-64%;top:50%;transform:translateY(-50%) scale(0,0);transition:all 1s linear;-webkit-transition:all 1s linear;}
.ion_wrap .row-1 .main_slg.on .sub_tit:before{width:100%;opacity:1;transform:translateY(-50%) scale(1,1);}
.ion_wrap .row-1 .slg{margin:1rem 0 3rem;font-size:1.062rem;}
.ion_wrap .row-1 .slg strong{text-transform:uppercase;}
.ion_wrap .row-1 .ion_slg{width:50%;position:absolute;left:0;transform:translateY(48px);}
.ion_wrap .row-1 .ion_img{position:relative;z-index:1;}
.ion_wrap .row-2 .tit{margin-bottom:1.5rem;}
.ion_wrap .row-3{background:#3dbfed;}
.ion_wrap .row-3:before, .ion_wrap .row-3:after{display:block;width:100%;content:'';}
.ion_wrap .row-3:before{height:139px;background:url(../images/ionwater/ion-bg2.jpg)no-repeat left top;background-size:100%;}
.ion_wrap .row-3:after{height:282px;background:url(../images/ionwater/ion-bg3.jpg)no-repeat left bottom;background-size:100%;}
.ion_wrap .daily_ion{margin:0 -45px;}
.ion_wrap .daily_ion li{float:left;width:calc(33.333% - 90px);margin:0 45px 50px;text-align:center;color:#fff;}
.ion_wrap .daily_ion li:nth-child(2){transition-delay:.3s;}
.ion_wrap .daily_ion li:nth-child(3){transition-delay:.6s;}
.ion_wrap .daily_ion .txt{color:#fff;line-height:150%;}
.ion_wrap .daily_ion .sub_tit{margin:2rem 0 5px;}
.ion_wrap .row-4{background:url(../images/ionwater/time-bg3.png)no-repeat right bottom;}
.ion_wrap .row-4 .container{transform:translateY(-80px);}
.ion_wrap .ion_time_slider{overflow:hidden;max-width:817px;padding:24px;margin:0 auto;box-sizing:border-box;-webkit-box-sizing:border-box;background:url(../images/ionwater/time-bg2.png)no-repeat center top;background-size:100%;}
.ion_wrap .ion_time_slider .swiper-slide{border-radius:100%;overflow:hidden;}
.ion_wrap .time_nav{margin:-220px -10px 0;position:relative;z-index:1;}
.ion_wrap .time_nav li{float:left;width:calc(33.333% - 20px);margin:0 10px;letter-spacing:-0.25px;text-align:center;}
.ion_wrap .time_nav .time{display:table;width:140px;margin:0 auto 1rem;height:140px;text-align:center;border:6px solid #eaf4f7;border-radius:100%;}
.ion_wrap .time_nav .time span{display:table-cell;vertical-align:middle;font-size:1.875rem;font-weight:700;color:#cbe4ed;}
.ion_wrap .time_nav .time span:before{display:block;margin-bottom:10px;}
.ion_wrap .time_nav .time span em{display:block;font-size:1.062rem;}
.ion_wrap .time_nav li:nth-child(1) .time span:before{content:url(../images/ionwater/time-ico1.png);}
.ion_wrap .time_nav li:nth-child(2) .time span:before{content:url(../images/ionwater/time-ico2.png);}
.ion_wrap .time_nav li:nth-child(3) .time span:before{content:url(../images/ionwater/time-ico3.png);}
.ion_wrap .time_nav dt{margin-bottom:0.5rem;font-size:1.25rem;font-weight:700;color:#666;text-transform:uppercase;}
@media screen and (min-width: 768px) {
	.ion_wrap .time_nav li:hover:nth-child(1) .time span:before{content:url(../images/ionwater/time-ico1-on.png);}
	.ion_wrap .time_nav li:hover:nth-child(2) .time span:before{content:url(../images/ionwater/time-ico2-on.png);}
	.ion_wrap .time_nav li:hover:nth-child(3) .time span:before{content:url(../images/ionwater/time-ico3-on.png);}
	.ion_wrap .time_nav li:hover .time{background-color:#eaf4f7;}
	.ion_wrap .time_nav li:hover .time span{color:#68bcd5;}
	.ion_wrap .time_nav li:hover dt{color:#009dd6;}
}
.ion_wrap .row-5{padding:120px 0 80px;position:relative;}
.ion_wrap .video_wrap{padding:0 100px;position:relative;transform:translateY(-50px);}
.ion_wrap .video_slider{overflow:hidden;}
.ion_wrap .video_slider .swiper-slide-next{margin-top:50px;}
.ion_wrap .video_slider .desc_li{padding:1.5rem 0 1rem;}
.ion_wrap .video_slider .desc_li li{display:inline-block;font-size:0.875rem;color:#8f8f8f;}
.ion_wrap .video_slider .desc_li li:after{display:inline-block;content:'ã…£';}
.ion_wrap .video_slider .desc_li li:last-child:after{display:none;}
.ion_wrap .swiper-button-next, .ion_wrap .swiper-button-prev{
	width:50px;height:50px;border:1px solid #c0c0c0;border-radius:100%;
	background-repeat:no-repeat;background-position:center;background-size:auto;background-color:#fff;
	transform:translateY(-50%);
}
.ion_wrap .swiper-button-next:hover, .ion_wrap .swiper-button-prev:hover{
	background-color:#009dd6;
}
.ion_wrap .swiper-button-next:hover{background-image:url(../images/ionwater/ion-next-on.png);}
.ion_wrap .swiper-button-prev:hover{background-image:url(../images/ionwater/ion-prev-on.png);}
.ion_wrap .swiper-button-next{background-image:url(../images/ionwater/ion-next.png);}
.ion_wrap .swiper-button-prev{background-image:url(../images/ionwater/ion-prev.png);}
.ion_wrap .video_slider .swiper-button-next, .ion_wrap .video_slider .swiper-button-prev{top:35%;transform:none;}
.ion_wrap .video_slider h3{font-size:1.5rem;letter-spacing:-0.25px;color:#000;}
.ion_wrap .row-5:before{display:block;width:100%;height:500px;background:#f4f5f9;content:'';position:absolute;top:0;left:0;z-index:-1;}
.ion_wrap .row-5 .desc:after{display:block;width:1px;height:74px;margin:50px auto 30px;background:#b7b7b7;content:'';}
.ion_wrap .row-5 .container{width:1300px;}
.ion_wrap .row-5 .txt_box{margin-bottom:0;}
.ion_wrap .row-6 .column_box{margin:0;}
.ion_wrap .row-6 .column_box>div{width:50%;height:772px;padding-top:105px;margin:0;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;background-image:url(../images/ionwater/ion-sweat.png);position:relative;}
.ion_wrap .row-6 .column_box>div:first-child{background-color:#f6f6f6;}
.ion_wrap .row-6 .column_box>div .inner{width:100%;margin:0 auto;padding:0 10px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.ion_wrap .row-6 .column_box>div:first-child .inner{max-width:613px;}
.ion_wrap .row-6 .column_box>div:last-child .inner{max-width:704px;}
.ion_wrap .row-6 .column_box>div:last-child{background-color:#8dc0d1;}
.ion_wrap .row-6 .column_box>div:last-child *{color:#fff;}
.ion_wrap .row-6 .ion_sweat{width:80%;position:absolute;bottom:100px;left:50%;transform:translateX(-50%);}
.ion_wrap .row-6 .ion_sweat li{float:left;width:50%;text-align:center;font-size:1.062rem;color:#333;}
.ion_wrap .row-6 .txt{margin-bottom:50px;}
.ion_wrap .row-6 .source{position:absolute;right:25px;bottom:25px;}
.ion_wrap .row-6 .sub_tit{text-transform:none;}
.ion_wrap .row-7, .ion_wrap .row-8{padding:120px 0;}
.ion_wrap .row-7 .container{width:1300px;}
.ion_wrap .row-7 .gallery_wrap{padding:0 100px;max-width:894px;margin:0 auto;position:relative;}
.ion_wrap .row-7 .ion_gallery{overflow:hidden;}
.ion_wrap .row-7 .gallery-top{margin-bottom:10px;overflow:hidden;position:relative;}
/*.ion_wrap .row-7 .gallery-top .swiper-slide:before{width:100%;height:100%;background:#010101;opacity:0.4;position:absolute;top:0;left:0;content:'';z-index:2;}*/
.ion_wrap .row-7 .play-btn{background:transparent;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:99;cursor:pointer;}
.ion_wrap .row-7 .gallery-top .inner{color:#fff;position:absolute;/*left:30px;*/bottom:30px;z-index:99;}
.ion_wrap .row-7 .ion_gallery .desc_li li{display:inline-block;color:#dcdcdc;font-size:0.812rem;}
.ion_wrap .row-7 .ion_gallery .desc_li li:after{content:'ã…£';}
.ion_wrap .row-7 .ion_gallery .desc_li li:last-child:after{display:none;}
.ion_wrap .row-7 .ion_gallery .desc_li li:first-child:before{display:inline-block;vertical-align:middle;margin-right:5px;content:url(../images/ionwater/video-ico1.png);}
.ion_wrap .row-7 .play-btn:before{content:url(../images/ionwater/video-ico.png);}
.ion_wrap .row-7 .gallery-thumbs .swiper-slide>img{border:4px solid transparent;}
.ion_wrap .row-7 .gallery-thumbs .swiper-slide-active>img{border:4px solid #009dd6;box-sizing:border-box;}
.ion_wrap .row-7 .gallery-thumbs .swiper-slide img{vertical-align:middle;}
.ion_wrap .row-7 .gallery-thumbs .tit{margin:0.5rem 0;font-size:0.937rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ion_wrap .row-7 .gallery-thumbs .desc_li li{font-size:0.75rem;color:#999999;}
.ion_wrap .gallery_wrap .swiper-button-next, .ion_wrap .gallery_wrap .swiper-button-prev{top:inherit;bottom:10%;}
.ion_wrap .more_plus_wrap{text-align:center;cursor:auto;background:transparent;}
.ion_wrap .more_plus{background:transparent;cursor:pointer;}
.ion_wrap .ion_color{margin:0 -10px;}
/*ìž„ì˜ ì¶”ê°€*/
/*.ion_wrap .ion_color li .img_box img{ width: 100% }
.ion_wrap .ion_color li{float:left;width:calc(16.666% - 20px);margin:0 10px 20px;}
.ion_wrap .ion_color li .photo_hover{position: absolute;top:0;left:0;background:rgba(12, 79, 121, 0.7);width:100%;height:100%;display: none;}
.ion_wrap .ion_color li:hover .photo_hover{display:block;}
.ion_wrap .ion_color li .photo_hover .hover_cont{padding: 30px 25px;}
.ion_wrap .ion_color li .photo_hover h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: 20px;
    color: #fff;
    word-break: keep-all;
}
.ion_wrap .ion_color li .photo_hover p.date {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.25px;
    color: #aacfe5;
    margin-top: 10px;
}
*/

/*ë*/
.bottom_list .bottom-ion{background:url(../images/ionwater/bottom-ion.jpg)no-repeat;background-size:cover;}
.fade-in-out{opacity:0;transform:translateY(30px);transition:.5s linear;}
.fade-in-out.on{opacity:1;transform:translateY(0);}
@media screen and (max-width:1366px){
	.ion_wrap .row-4 .container{transform:translateY(0);}
}
@media screen and (max-width:1300px){
	.ion_wrap .row-5 .container, .ion_wrap .row-7 .container{width:92%;}
}
@media screen and (max-width:1024px){
	.ion_wrap .row-3:after{height:150px;}
}
@media screen and (max-width:1023px){
	.ion_wrap .row-2{padding:5% 0;}
}
@media screen and (max-width:767px){
	.ion_wrap .tit, .ion_wrap .tit-2{font-size:1.625rem;}
	.ion_wrap .row-1 .grid_wrap{padding-top:3%;}
	.ion_wrap .row-1 .ion_slg{width:100%;}
	.ion_wrap .row-1 .main_slg.on .sub_tit:before{display:none;}
	.ion_wrap .row-1 .grid_wrap>div:last-child{padding-top:5%;text-align:right;}
	.ion_wrap .row-1 .ion_img{width:70%;}
	.ion_wrap .column_box>div, .ion_wrap .row-6 .column_box>div{width:calc(100% - 2%);margin-bottom:2%;}
	.ion_wrap .row-3:before{height:60px;}
	.ion_wrap .daily_ion{margin:0;}
	.ion_wrap .daily_ion li{width:100%;margin:0 0 45px;}
	.ion_wrap .daily_ion li:last-child{margin-bottom:0;}
	.ion_wrap .time_nav{margin-top:-50px;}
	.ion_wrap .time_nav .time{width:70px;height:70px;}
	.ion_wrap .time_nav .time span,.ion_wrap .time_nav dt{font-size:1.062rem;}
	.ion_wrap .time_nav .time span:before{margin-bottom:5px;}
	.ion_wrap .time_nav .time span em{font-size:0.812rem;}
	.ion_wrap .video_wrap{padding:0 50px;transform:none;}
	.ion_wrap .swiper-button-next, .ion_wrap .swiper-button-prev{width:30px;height:30px;}
	.ion_wrap .swiper-button-next{right:0;}
	.ion_wrap .swiper-button-prev{left:0;}
	.ion_wrap .row-6 .column_box>div{height:auto;padding:5% 0;}
	.ion_wrap .row-6 .ion_sweat{width:100%;margin:1rem auto 0;position:initial;transform:none;}
	.ion_wrap .row-6 .ion_sweat li{box-sizing:border-box;}
	.ion_wrap .row-6 .ion_sweat li:first-child{padding-right:30px;}
	.ion_wrap .row-6 .ion_sweat li:last-child{padding-left:30px;}
	.ion_wrap .row-6 .source{margin-top:1rem;text-align:right;position:initial;}
	.ion_wrap .row-7 .gallery_wrap{padding:0 50px;}
	.ion_wrap .row-7, .ion_wrap .row-8{padding:50px 0;}
	.ion_wrap .ion_color li{width:calc(33.333% - 20px);}
	#ion_frame{
	    height: 100%;
		width: 100%;
	}

}

/* ì´ì˜¨ì›Œí„° íŒì—… */
.popup_wrap .popup_inner{width:100%;max-width:1100px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.popup_wrap .pop_tit{margin-bottom:2rem;letter-spacing:-0.25px;}
.popup_wrap .pop_tit ul li{display:inline-block;font-size:0.875rem;color:#d6d6d6;}
.popup_wrap .pop_tit ul li:after{display:inline-block;content:'ã…£';}
.popup_wrap .pop_tit ul li:last-child:after{display:none;}
.popup_wrap .pop_tit .tit{margin-top:1rem;font-size:1.5rem;font-weight:300;color:#fff;}
.popup_wrap .close{width:27px;height:27px;background:url(../images/ionwater/ion-close.png)no-repeat center;padding:0;position:absolute;right:0;top:25px;cursor:pointer;}

.view_cont img {
    display: block;
    max-width: 100%;
	height:auto;
    margin: 0 auto;
}

.sports_info3 .rate-box .line span { transform:translateX(-50%);}
